h1.app-title {
  font-family: 'Berkshire Swash', cursive;
  font-size: -webkit-xxx-large;
}

h2.app-sub-title {
  font-size: 17px;
  line-height: 20px;
  margin: 0 40px 10px;
  text-align: center;
  color: #999;
  font-weight: 600;
}

h3.form-note {
  color: #000;
  font-size: 14px;
  font-weight: 300;
}