body {  overflow: hidden;  }

@for $i from 1 through 5 {
  .p-#{$i} {  padding: #{$i}0px;  }
  .m-#{$i} {  margin: #{$i}0px;  }

  .pt-#{$i} {  padding-top: #{$i}0px;  }
  .mt-#{$i} {  margin-top: #{$i}0px;  }

  .pr-#{$i} {  padding-right: #{$i}0px;  }
  .mr-#{$i} {  margin-right: #{$i}0px;  }

  .pb-#{$i} {  padding-bottom: #{$i}0px;  }
  .mb-#{$i} {  margin-bottom: #{$i}0px;  }

  .pl-#{$i} {  padding-left: #{$i}0px;  }
  .ml-#{$i} {  margin-left: #{$i}0px;  }
}

.d-flex {  display: flex;  }
.justify-content-between {  justify-content: space-between;  }
.justify-content-around {  justify-content: space-around;  }
.align-items-center {  align-items: center;  }

.round {  border-radius: 50%;  }

.over-hidden {  overflow: auto;  }

.text-center {  text-align: center;  }

img {  background-image: url("https://placehold.it/64x64/aaa/aaa");  }

.invisible {  position: absolute;  z-index: 10;  visibility: hidden;  }