@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

body {
  overflow: hidden;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.round {
  border-radius: 50%;
}

.bubble_container {
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(240, 240, 240, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(240, 240, 240, 1) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(240, 240, 240, 1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(240, 240, 240, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(240, 240, 240, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0);

}

.bubble {
  width: 64px;
  &.mini {
    width: 32px;
  }
  .image {
    height: 64px;
    width: 64px;
    &.mini {
      width: 32px;
      height: 32px;
    }
  }
  .text {
    font-size: 12px;
  }
}

.over-hidden {
  overflow: auto;
}

.text-center {
  text-align: center;
}

img {
  background-image: url("https://placehold.it/64x64/aaa/aaa");
}

@for $i from 1 through 5 {
  .p-#{$i} {
    padding: #{$i}0px;
  }

  .m-#{$i} {
    margin: #{$i}0px;
  }
  .pt-#{$i} {
    padding-top: #{$i}0px;
  }

  .mt-#{$i} {
    margin-top: #{$i}0px;
  }
  .pr-#{$i} {
    padding-right: #{$i}0px;
  }

  .mr-#{$i} {
    margin-right: #{$i}0px;
  }
  .pb-#{$i} {
    padding-bottom: #{$i}0px;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}0px;
  }
  .pl-#{$i} {
    padding-left: #{$i}0px;
  }

  .ml-#{$i} {
    margin-left: #{$i}0px;
  }
}

.App {

  header {
    padding: 10px 20px;
    font-size: 20px;
    border-bottom: 1px solid lightgray;
    box-shadow: 0 0 1px 1px lightgray;
    nav {
      ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          &.logo {
            font-family: 'Berkshire Swash', cursive;
          }
        }
      }
    }
  }

  & > div {
    background-color: #fafafa;
    .news-content {
      max-width: 960px;
      margin: 0 auto;
      background-color: white;
      .post {
        &:not(:last-child) {
          border-bottom: 1px solid lightgray;
          padding-bottom: 10px;
          margin-bottom: 10px;
        }
        .post-featured {
          width: 100%;
          background: url("https://m.popkey.co/8618d2/DyVJx.gif") no-repeat;
          background-size: contain;
          background-position: center;
          //min-height: 100vw;
          @media screen and (min-width: 960px) {
            min-height: 600px;
          }
        }
        .post-actions {
          font-size: 30px;
          i {
            padding: 0 10px;
          }
        }
        .post-date {
          color: gray;
        }
      }
    }
  }
}

h1.app-title {
  font-family: 'Berkshire Swash', cursive;
  font-size: -webkit-xxx-large;
}

h2.app-sub-title {
  font-size: 17px;
  line-height: 20px;
  margin: 0 40px 10px;
  text-align: center;
  color: #999;
  font-weight: 600;
}

h3.form-note {
  color: #000;
  font-size: 14px;
  font-weight: 300;
}

a.form-note-lk {
  color: #3897f0;
  text-decoration: none;
  cursor: pointer;
}

.content {
  max-width: 350px;
  display: flex;
  margin: 0 auto;
  top: 50px;
  position: relative;
}

.content-form {
  width: 100%;
  text-align: center;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
}

input.inpt-f {
  border: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0;
  flex: 1 0 0px;
  outline: none;
  overflow: hidden;
  padding: 9px 0 7px 8px;
  text-overflow: ellipsis;
}

.inpt-d {
  margin: 0 40px 6px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #262626;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 14px;
  position: relative;
  -webkit-appearance: none;
  border: 1px solid #efefef;
}

.inpt-error {
  border: 1px solid red;
}

.btn-form {
  background: #3897f0;
  border-color: #3897f0;
  color: #fff;
  -webkit-appearance: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 50%;
  margin: 2px 40px 8px;
}

._line {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #999;
  line-height: 0.1em;
  margin: 10px 0 20px;
  max-width: 260px;
  display: inline-block;
}

._t_line {
  text-transform: uppercase;
  font-size: 13px;
  color: #999;
  font-weight: 600;
  background: #fff;
  padding: 0 10px;
}

section.fs-fafafa {
  background-color: #fafafa;
  height: 100vh;
}

.fa-heart {
  color: #ED4956;
}

article._profile {
  box-sizing: content-box;
  padding: 60px 20px 0;
  width: calc(100% - 40px);
  flex-grow: 1;
  margin: 0 auto 30px;
  max-width: 935px;
}

._h_profile {
  display: flex;

  ._h_thumbnail {
    width: 30%;
    margin: auto;
    text-align: -webkit-center;
    .avatar {
      width: 100%;
      height: 100%;
      max-width: 152px;
      max-height: 152px;
    }
  }

  ._h_info {
    width: 70%;
    margin: auto;

    ._h_t {
      line-height: 40px;
      font-weight: 200;
      font-size: 32px;
      @media screen and (max-width: 960px) {
        font-size: 24px;
        margin: auto;
      }
    }
    ._h_st {
      line-height: 40px;
      font-weight: 200;
      font-size: 22px;
      @media screen and (max-width: 960px) {
        font-size: 20px;
        margin: auto;
      }
    }
    ._h_d {
      line-height: 40px;
      font-weight: 200;
      font-size: 18px;
    }
    @media screen and (max-width: 960px) {
      margin: auto 10px;
    }
  }
}

._usr_stories {
  display: flex;

  .thumbnail {
    margin: auto 5px auto 0;
    .thumbnail-featured {
      width: 100%;
      max-height: 293px;
      max-width: 293px;
      background: url("https://m.popkey.co/8618d2/DyVJx.gif") no-repeat;
      background-size: contain;
      background-position: center;
      //min-height: 100vw;
      @media screen and (max-width: 960px) {
        max-height: 293px;
        max-width: 293px;
      }
    }
  }
}

.http-error-card {
  margin-top: 25px;
  max-width: 80%;
  margin-left:10%;
  height: auto;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.http-error-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  height: auto;
}

.http-error-content {
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 25px;
  color: white;

}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: rgba(16, 16, 16, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -120px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.invisible {
  position: absolute;
  z-index: 10;
  visibility: hidden;
}