@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
@import "_util";
@import "_header";
@import "_app_all_first_div";
@import "_bubble_header";
@import "_titles";

a {
  color: #000;
  .form-note-lk {
    color: #3897f0;
    text-decoration: none;
    cursor: pointer;
  }
}

.content {
  max-width: 350px;
  display: flex;
  margin: 0 auto;
  top: 50px;
  position: relative;
}

@import "_forms";

._line {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #999;
  line-height: 0.1em;
  margin: 10px 0 20px;
  max-width: 260px;
  display: inline-block;
}

._t_line {
  text-transform: uppercase;
  font-size: 13px;
  color: #999;
  font-weight: 600;
  background: #fff;
  padding: 0 10px;
}

section.fs-fafafa {
  background-color: #fafafa;
  height: 100vh;
}

.fa-heart {
  color: #ED4956;
}

._profile{
  i{cursor: pointer;  }
  @import "_h_profile";
  @import "_usr_stories";
}

@import "_http_error";
@import "_tooltips";
